In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
train = pd.read_csv('/content/drive/MyDrive/DACON/credit/train.csv')
train = train.drop(['index'], axis=1)

test = pd.read_csv('/content/drive/MyDrive/DACON/credit/test.csv')
test = test.drop(['index'], axis=1)

submit = pd.read_csv('/content/drive/MyDrive/DACON/credit/sample_submission.csv')

In [ ]:
!pip install BorutaShap

Collecting BorutaShap
  Downloading https://files.pythonhosted.org/packages/76/ed/d922ca17ea48bb1d65ceb7ecb8efad5ce720609d7de96ca248c1a55f77ea/BorutaShap-1.0.15-py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from BorutaShap) (1.1.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from BorutaShap) (1.4.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from BorutaShap) (0.11.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from BorutaShap) (3.2.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from BorutaShap) (0.22.2.post1)
Collecting shap>=0.34.0
  Downloading https://files.pythonhosted.org/packages/b9/f4/c5b95cddae15be80f8e58b25edceca105aa83c0b8c86a1edad24a6af80d3/shap-0.39.0.tar.gz (356kB)
     |████████████████████████████████| 358kB 16.3MB/s
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from BorutaShap) (4.41.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from BorutaShap) (1.19.5)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from BorutaShap) (0.10.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->BorutaShap) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->BorutaShap) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->BorutaShap) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->BorutaShap) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->BorutaShap) (1.3.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->BorutaShap) (1.0.1)
Collecting slicer==0.0.7
  Downloading https://files.pythonhosted.org/packages/78/c2/b3f55dfdb8af9812fdb9baf70cacf3b9e82e505b2bd4324d588888b81202/slicer-0.0.7-py3-none-any.whl
Requirement already satisfied: numba in /usr/local/lib/python3.7/dist-packages (from shap>=0.34.0->BorutaShap) (0.51.2)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from shap>=0.34.0->BorutaShap) (1.3.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->BorutaShap) (0.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->BorutaShap) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba->shap>=0.34.0->BorutaShap) (56.0.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba->shap>=0.34.0->BorutaShap) (0.34.0)
Building wheels for collected packages: shap
  Building wheel for shap (setup.py) ... done
  Created wheel for shap: filename=shap-0.39.0-cp37-cp37m-linux_x86_64.whl size=491630 sha256=bec831adb541fbd2ddf77bc96f1fcf0ccbeeb47c50b7464dc61a20117030867e
  Stored in directory: /root/.cache/pip/wheels/15/27/f5/a8ab9da52fd159aae6477b5ede6eaaec69fd130fa0fa59f283
Successfully built shap
Installing collected packages: slicer, shap, BorutaShap
Successfully installed BorutaShap-1.0.15 shap-0.39.0 slicer-0.0.7

In [ ]:
#Binary variables
def binary(data):
  data['gender'] = data['gender'].replace(['F','M'],[0,1])
  print('gender :')
  print(data['gender'].value_counts())
  print('--------------')

  print('Having a car or not : ')
  data['car'] = data['car'].replace(['N','Y'],[0,1])
  print(data['car'].value_counts())
  print('--------------')

  print('Having house reality or not: ')
  data['reality'] = data['reality'].replace(['N','Y'],[0,1])
  print(data['reality'].value_counts())
  print('--------------')
        
  print('Having a phone or not: ')
  print(data['phone'].value_counts())
  print('--------------')
        

  print('Having a email or not: ')
  print(data['email'].value_counts())
  print('--------------')
        

  print('Having a work phone or not: ')
  print(data['work_phone'].value_counts())
  print('--------------')
  return

In [ ]:
binary(train)

gender :
0    17697
1     8760
Name: gender, dtype: int64
--------------
Having a car or not :
0    16410
1    10047
Name: car, dtype: int64
--------------
Having house reality or not:
1    17830
0     8627
Name: reality, dtype: int64
--------------
Having a phone or not:
0    18672
1     7785
Name: phone, dtype: int64
--------------
Having a email or not:
0    24042
1     2415
Name: email, dtype: int64
--------------
Having a work phone or not:
0    20511
1     5946
Name: work_phone, dtype: int64
--------------

In [ ]:
from sklearn.preprocessing import LabelEncoder
def preprocess(data):
  label_encoder = LabelEncoder()
  data['income_type']=label_encoder.fit_transform(data['income_type'])
  data['edu_type']=label_encoder.fit_transform(data['edu_type'])
  data['family_type']=label_encoder.fit_transform(data['family_type'])
  data['house_type']=label_encoder.fit_transform(data['house_type'])
  return

In [ ]:
preprocess(train)

In [ ]:
train

       gender  car  reality  ...  family_size  begin_month  credit
0           0    0        0  ...          2.0         -6.0     1.0
1           0    0        1  ...          3.0         -5.0     1.0
2           1    1        1  ...          2.0        -22.0     2.0
3           0    0        1  ...          2.0        -37.0     0.0
4           0    1        1  ...          2.0        -26.0     2.0
...       ...  ...      ...  ...          ...          ...     ...
26452       0    0        0  ...          4.0         -2.0     1.0
26453       0    0        1  ...          2.0        -47.0     2.0
26454       0    1        0  ...          2.0        -25.0     2.0
26455       1    0        1  ...          1.0        -59.0     2.0
26456       0    0        0  ...          2.0         -9.0     2.0

[26457 rows x 19 columns]

In [ ]:
X=train.drop('credit',axis=1)
X=X.drop('occyp_type',axis=1)
y=train['credit']

In [ ]:
y

0        1.0
1        1.0
2        2.0
3        0.0
4        2.0
        ...
26452    1.0
26453    2.0
26454    2.0
26455    2.0
26456    2.0
Name: credit, Length: 26457, dtype: float64

In [ ]:
from BorutaShap import BorutaShap
from xgboost import XGBClassifier

model = XGBClassifier()
Feature_Selector = BorutaShap(model=model,
                              importance_measure='shap',
                              classification=True)

Feature_Selector.fit(X=X, y=y, n_trials=100, sample=False,
            	     train_or_test = 'test', normalize=True,
		     verbose=True)

100%|██████████| 100/100 [15:02<00:00,  9.03s/it]

4 attributes confirmed important: ['DAYS_EMPLOYED', 'DAYS_BIRTH', 'income_total', 'begin_month']
11 attributes confirmed unimportant: ['child_num', 'FLAG_MOBIL', 'house_type', 'edu_type', 'gender', 'phone', 'email', 'family_type', 'family_size', 'car', 'work_phone']
2 tentative attributes remains: ['income_type', 'reality']

In [ ]:
self = Feature_Selector
if self.importance_measure == 'shap':

  self.explain()
  vals = self.shap_values

  vals = self.calculate_Zscore(vals)

  X_feature_import = vals[:len(self.X.columns)]
  Shadow_feature_import = vals[len(self.X_shadow.columns):]


elif self.importance_measure == 'gini':

  feature_importances_ =  np.abs(self.model.feature_importances_)

  feature_importances_ = self.calculate_Zscore(feature_importances_)

  X_feature_import = feature_importances_[:len(self.X.columns)]
  Shadow_feature_import = feature_importances_[len(self.X.columns):]

else:

  raise ValueError('No Importance_measure was specified select one of (shap, gini)')